<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <% if current_user %>
          <li class="nav-item active">
            <a class="nav-link" href="<%= posts_path %>">Blog <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_post_path %>">New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= logout_path %>" style="margin-left: 85rem;">Logout</a>
          </li>
        <% else %>
          <li class="nav-item active">
            <a class="nav-link" href="/">Blog <span class="sr-only">(current)</span></a>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
